
*{
    box-sizing: border-box;
    
}

html
{
    border: springgreen solid 1px;
    margin:0px;
    
    height: 930px;
    max-height: 930px;
    min-height: 930px;
    
    width: 2000px;
    max-width: 2000px;
}




body
{
    width: 90%;
    

    height: 90%;
    max-height: 90%;
    min-height: 90%;
    
   
    margin:0px;
    border: solid black 1px;
    margin-left: 5%;
    margin-top:40px;

}

div
{
    display: inline-block;
}


table
{
    border: black 2px;
    width: 100%;
    height: 100%;
}

table>tbody>tr:nth-child(1n)>td:nth-child(2n)
{
    background: black;
}

table>tbody>tr:nth-child(2n)>td:nth-child(1n)
{
    background: black;
}
table>tbody>tr:nth-child(2n)>td:nth-child(2n){
    background:white;
}